/* ESTILOS GERAIS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.interface {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 4%;
}

body {
    background-color: rgb(255, 255, 255);
}
header .btn-contato button,
.hero-site button,
section.parallax .txt-parallax a button:hover {
    font-size: 18px;
    background-color: transparent;
    border: 1px solid rgb(255, 255, 255);
    color: #fff;
    cursor: pointer;
    transition: 0.5s;
}
.catalogo {
    display: flex;
}
/* ESTILO DO HEADER */
header {
    width: 100%;
    padding: 40px 0%;
    position: fixed;
    top: 0;
    left: 0;

    transition: 0.5s;
    z-index: 99;
}

header .interface {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ESTILO DO MENU DINAMICO */

header .logo img.logo-preta {
    display: none;
}
header.rolar {
    background-color: #fff;
    padding: 20px 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.795);
}

header.rolar .menu-desktop nav ul li a {
    color: #000;
}

header.rolar .btn-contato button {
    border: 1px solid black;
    color: #000;
}

header.rolar .btn-contato button:hover {
    background-color: #000;
    color: #fff;
}

header.rolar .logo .logo-branca {
    display: none;
}

header.rolar .logo .logo-preta {
    display: block;
}
/* ------------------------- */

header .logo img {
    max-width: 40px;
}

header .menu-desktop nav ul {
    list-style-type: none;
}

header .menu-desktop nav ul li {
    display: inline-block;
    margin: 0 40px;
}

header .menu-desktop nav ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    transition: 0.2s;
}

.menu-desktop nav a:hover {
    transform: scale(1.05);
}
header .btn-contato button {
    width: 140px;
    height: 50px;
}

header .btn-contato button:hover,
.hero-site button:hover,
section.parallax .txt-parallax a button:hover {
    background-color: #fff;
    color: #000;
}

/* ESTILO DO HERO */

section.hero-site {
    height: 100vh;
    background-image: url(../images/bg-inicio-site.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
}

.hero-site .interface {
    display: flex;
    align-items: center;
    height: 100%;
}

.hero-site .txt-hero h1 {
    font-size: 4em;
}
.hero-site .txt-hero h1 {
    line-height: 70px;
    font-weight: 200;
}

.hero-site .txt-hero h1 span {
    font-weight: 800;
}

.hero-site .txt-hero p {
    font-size: 20px;
    font-weight: 300;
    margin: 20px 0;
}

.hero-site button {
    width: 220px;
    height: 60px;
    font-size: 20px;
}

/* ESTILOS DA SECTION VANTAGENS */

section.vantagens {
    background-color: #eeeeee;
    padding: 40px;
}
section.vantagens .catalogo {
    display: flex;
    align-items: center;
}
section.vantagens .catalogo-inv {
    display: flex;
    align-items: center;
}

section.vantagens .interface .catalogo {
    padding: 30px 4%;
    transition: 0.5s;
    border-radius: 20px;
    margin: 15px 0;
}
section.vantagens .interface .catalogo-inv {
    padding: 30px 4%;
    transition: 0.5s;
    border-radius: 20px;
    margin: 15px 0;
}

section.vantagens .catalogo:hover,
section.vantagens .catalogo-inv:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.522);
    transform: scale(1.02);
}

section.vantagens .interface .catalogo .img-catalogo img {
    width: 400px;
    margin-left: 55px;
}
section.vantagens .interface .catalogo-inv .img-catalogo-invert img {
    width: 400px;
    margin-right: 80px;
}

section.vantagens .interface .catalogo .txt-catalogo h2 {
    font-weight: 200;
    line-height: 50px;
    font-size: 3em;
}
section.vantagens .interface .catalogo-inv .txt-catalogo h2 {
    font-weight: 200;
    line-height: 50px;
    font-size: 3em;
}

section.vantagens .interface .catalogo .txt-catalogo h2 span {
    font-weight: 800;
}
section.vantagens .interface .catalogo-inv .txt-catalogo h2 span {
    font-weight: 800;
}

/* ESTILOS NA SECTION CONTATOS */
section.contatos {
    background-color: #fff;
    padding: 80px 0;
}

section.contatos .interface {
    display: flex;

    align-items: center;
    justify-content: space-around;
}

section.contatos .txt-contato h3 {
    font-size: 2.5em;
    font-weight: 300;
    line-height: 50px;
    margin-bottom: 20px;
}
section.contatos .txt-contato h3 span {
    font-weight: 800;
}

.contatos .icons-contato a {
    text-decoration: none;
}

.contatos .icons-contato button {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 340px;
    height: 60px;
    margin: 0 auto 20px auto;
    padding: 0 60px;

    background-color: transparent;
    border: 2px solid #000;
    cursor: pointer;
    transition: 0.3s;
}
.contatos .icons-contato button:hover {
    background-color: #000;
    color: #fff;
}

.contatos .icons-contato button i {
    font-size: 22px;
}

/* ESTILOS DA SECTION PARALLAX */
section.parallax {
    background-image: url(../images/hotel-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 600px;
}

section.parallax .fundo-desfoque {
    width: 100%;
    height: 100%;
    background-color: #000000d3;
}

section.parallax .txt-parallax {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
}

section.parallax .txt-parallax h3 {
    font-size: 3em;
    font-weight: 300;
    line-height: 50px;
}

section.parallax .txt-parallax h3 span {
    font-weight: 800;
}

section.parallax .txt-parallax p {
    font-weight: 400;
    margin: 20px 0;
}

section.parallax .txt-parallax a button {
    background-color: transparent;
    font-size: 1em;
    color: #fff;
    border: 1px solid rgb(255, 255, 255);
    width: 190px;
    height: 50px;
}

/* ESTILO DA SECTION (COMO-FUNCIONA) */

section.como-funciona {
    background-color: #eeeeee;

    padding: 80px 0;
}

section.como-funciona .interface {
    display: flex;
    justify-content: space-between;
}

.como-funciona .txt-como-funciona {
    height: 550px;
}

section.como-funciona .interface .txt-como-funciona h1 {
    font-size: 3.5em;
    font-weight: 300;
    line-height: 55px;
    position: sticky;
    top: 50%;
}

section.como-funciona .interface .txt-como-funciona h1 span {
    font-weight: 700;
}

section.como-funciona .interface .box-como-funciona img {
    width: 120px;
    margin-right: 15px;
}

section.como-funciona .interface .box-como-funciona .box {
    margin-bottom: 40px;
    border: 2px solid black;
    padding: 20px;
}

section.como-funciona .interface .box-como-funciona {
    width: 600px;
    height: 120px;
}

section.como-funciona .interface .box-como-funciona .box {
    display: flex;
}

section.como-funciona .interface .box-como-funciona .box .txt-box h2 {
    font-weight: 700;
    margin-bottom: 10px;
}

section.como-funciona .interface .box-como-funciona .box .txt-box h2 span {
    font-weight: 300;
}

/*  ESTILOS NO HTML FOOTER */

footer {
    background-color: #000;
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

footer .contatos-footer button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: transparent;
    color: white;
    font-size: 24px;
    cursor: pointer;
    margin: 0 10px;
    transition: 0.5s;
}

footer .contatos-footer button:hover {
    background-color: white;
    color: #000;
}

footer .txt-contatos-footer {
    margin: 20px 0;
}

footer .txt-contatos-footer a {
    color: white;
    margin: 0 15px;
}

footer .paragrafo-footer {
    border-top: 2px solid white;
    padding-top: 10px;
}

footer .paragrafo-footer p {
    color: white;
}
